.slideshow
{
    margin-left: 17%;
}

.footer-background
{
    background-color: #5bd3e9
}

.footer-shop
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-product
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-usefull
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-contact
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-end
{
    background-color: rgb(93 178 185 / 94%);
}

.login
{
    margin-top: 50px;
}


body{
    background-color: #f0f2f2;
    font-family: serif;
}

a{
    color: #1c2331;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    color: red;
}

.buttonlogin{
    display: flex;
    justify-content: center;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Khoảng cách giữa các grid item */
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 5px;
    width: calc(25% - 16px); /*Định nghĩa chiều rộng của mỗi grid item (độ rộng 33.33% với khoảng cách 16px) */
    box-sizing: border-box;
  }
  
  .grid-cell {
    margin-bottom: 8px; /* Khoảng cách giữa các dòng trong grid cell */
  }
  
  .grid-image {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    margin-right: 8px; /* Khoảng cách giữa các nút */
  }
  