.slideshow
{
    margin-left: 17%;
    
}

.footer1
{
    background-color: #1c2331
}

.footer2
{
    background-color: #6351ce
}

.footer3
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer4
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer5
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer6
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer7
{
    background-color: rgba(0, 0, 0, 0.2);
}