.slideshow
{
    margin-left: 17%;
}

.footer-background
{
    background-color: #5bd3e9
}

.footer-shop
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-product
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-usefull
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-contact
{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

.footer-end
{
    background-color: rgb(93 178 185 / 94%);
}

.login
{
    margin-top: 50px;
}


body{
    background-color: #f0f2f2;
    font-family: serif;
}

a{
    color: #1c2331;
    text-decoration: none;
}